body {
    display: block;
}

.wrapper {
    padding: 20px;
    display:flex;
    justify-content:space-between;
}

h1{
    text-align:left;
    padding-right:30px;
}




/* GENERAL */
.show {
    animation: show-hide 0.3s ease;
    animation-fill-mode: none;
    animation-fill-mode: forwards;
}

.hide {
    animation: show-hide 0.3s ease;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

@keyframes show-hide {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}




/* MENU */
#catalog-root{
    padding-top: 60px;
}
.element {
    padding: 5px !important;
    color: black;
    font-weight: bold;
}
    .element .element .element {
        padding-left: 15px !important;
        color: #8a8a8a;
        font-weight: normal;
    }

.element a {
    cursor: pointer;
}

.part:hover {
    color: red !important;
    font-weight: bold !important;
}
.selected {
    color: red !important;
    font-weight: bold !important;
}



/* CONTENT */
#details-root {
    border: 5px solid;
}

table {
    padding: 100px; 
    border-collapse: collapse;
    width: 70vw;
}
table tr {
    border: 10px solid rgba(0, 0, 0, 0.00);
}
td {
    padding: 0 20px;
}
table tr td:nth-child(1) {
    min-width: 180px;
}
table tr td:nth-child(3) {
    float: right;
    padding-right: 20px;
    white-space: nowrap;
    text-align: left;
}

.goods {
    background-color: #f1f1f1;
    display:flex;
    flex-direction:column;
}

.product {
    padding-left: 20px;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


