[data-id] {
    cursor: pointer;
    padding: 15px;
}
body {
    display: block;
}



.wrapper {
    padding: 20px;
    display:flex;
    justify-content:space-between;
}

h1{
    text-align:left;
    padding-right:30px;
}


/* catalog */
.element {
    padding: 5px !important;
}

.element .element .element {
        padding-left: 15px !important;
        font-weight: bold;
}
#text {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.part:hover {
    color: red;
}
a {
    cursor: pointer;
}

/* details */
#details-root {
    border: 5px solid;
}

table {
    padding: 100px; 
    border-collapse: collapse;
    width: 70vw;
}
table tr {
    border: 10px solid rgba(0, 0, 0, 0.00);
}
td {
    padding: 0 20px;
}
table tr td:nth-child(1) {
    min-width: 180px;
}
table tr td:nth-child(3) {
    float:right;
    padding-right: 20px;
}

.goods {
    background-color: #f1f1f1;
    display:flex;
    flex-direction:column;
}

.product {
    padding-left: 20px;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
